/* Criado por Luan */
* {
  scrollbar-width: 5px;
  scrollbar-color: #FFF transparent;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}

body {
  background-color: #222831;
  text-align: center;
  color: #fff;
}

* {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", "Noto Sans Symbols 2", "Noto Color Emoji", sans-serif;
}

a,
a:link,
a:visited {
  color: inherit;
  font: inherit;
}

.d1 {
  display: inline-block;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  text-align: left;
  min-height: 100vh;
  padding: 0;
}

.d1 .final {
  width: 100%;
  display: inline-block;
  text-align: center;
  border-top: 1px solid #aaa;
  font-size: 0.9rem;
  margin-top: 50px;
}

.logoHub {
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
  display: inline;
}

.d1 .topo, .d1 .topo * {
  text-wrap: nowrap;
  vertical-align: middle;
}

.d1 .topo {
  display: inline-block;
  width: 100%;
  background-color: #31363F;
  border-radius: 1rem;
}

.d1 .topo .tpClEsq {
  width: 15%;
  display: inline-block;
}

.d1 .topo .tpClDir {
  width: 85%;
  display: inline-block;
  padding: 0 1rem;
}

.d1 .topo h1 {
  font-size: 3rem;
  font-weight: 700;
}

.d1 .topo span {
  font-size: 1rem;
}

.d1 .topo .fotoPerfil {
  width: 100%;
  border-radius: 1rem;
}

.d1 .listaLinks {
  display: inline-block;
  width: 100%;
  padding: 0 1%;
}

.d1 .listaLinks .catLinks {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
}
.d1 .listaLinks a, .d1 .listaLinks a:link {
  display: inline-block;
  background-color: rgb(77 85 99);
  color: #ededed;
  width: 19.3%;
  padding: 1px;
  border-radius: 4px;
  text-decoration: none;
  margin: 0 0.7% 5px 0;
  overflow: hidden;
  vertical-align: top;
  min-height: 1.6cm;
  align-content: center;
  text-align: center;
}

.d1 .listaLinks a:hover{
  box-shadow: 0px 0px 20px 5px rgb(255 255 255 / 10%);
}

.d1 .listaLinks img{
  width: 100%;
  border-radius: 4px;
  display: none;
}

.d1 .listaLinks span{
  padding: 0 5px;
  font-weight: 800;
  display: inline-block;
  font-size: 1.1rem;
}

@media only screen and (max-width: 1000px) {
  .d1 .listaLinks a, .d1 .listaLinks a:link {
    width: 24.3%;
  }
}

@media only screen and (max-width: 700px) {
  .d1 .listaLinks a, .d1 .listaLinks a:link {
    width: 32.63333%;
  }
}

@media only screen and (max-width: 500px) {
  .d1 .listaLinks a, .d1 .listaLinks a:link {
    width: 49.3%;
  }
}

@media only screen and (max-width: 200px) {
  .d1 .listaLinks a, .d1 .listaLinks a:link {
    width: 99.3%;
  }
}